[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cofid"]
	path = cofid
	url = https://github.com/alrobles/cofid
[submodule "mddmaps"]
	path = mddmaps
	url = https://github.com/cran/mddmaps
